<%@ Master Language="C#" MasterPageFile="~/Root_UV.master" AutoEventWireup="true" CodeBehind="Main_UV.master.cs" Inherits="CPanel.Main_UVMaster" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="cc1" %>
<%-- DXCOMMENT: Page Main.master is a master page that contains central area layout --%>
<asp:Content ID="Content2" ContentPlaceHolderID="Content" runat="server">
    
    <dx:SplitterContentControl>
        <asp:ContentPlaceHolder ID="MainContent" runat="server" />
    </dx:SplitterContentControl>

</asp:Content>
