<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Root_UV.master.cs" Inherits="CPanel.Root_UVMaster" %>

<%-- DXCOMMENT: Page Root.master is a master page that contains the root layout (it includes Header, Cental Area, and Footer) --%>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head runat="server">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/Content/bootstrapTemplate/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/Content/bootstrapTemplate/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="Content/css/main.css" />
    <link rel="stylesheet" href="Content/css/footer.css" />
    <link rel="stylesheet" href="Content/css/header.css" />
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;700&display=swap" rel="stylesheet" />
    <!-- Banner -->
    <script src="/Content/SlideShow/js/jssor.slider-27.5.0.min.js" type="text/javascript"></script>
    <script src="/Content/SlideShow/js/slide_tuyen.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/Content/SlideShow/css/style.css" />
    <!-- End Banner -->
    <title><%=CPanel.Commons.TitleConst.getTitleConst("TITLE_PAGE_ATCL") %></title>
</head>

<body runat="server">
    <form id="form1" runat="server" defaultbutton="btnDisableEnter">
        <asp:Button ID="btnDisableEnter" runat="server" Text="" OnClientClick="return false;" Style="display: none;" />
        <div id="main-page">
            <!-- begin header -->
            <div class="header">
                <section class="top-bar">
                    <div class="container">
                        <nav class="navbar navbar-custom">
                            <div class="container-fluid">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                                        data-target="#myNavbar">
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                    <div class="top-bar_logo">
                                        <a href="/index.aspx"><img class="top-logo" src="/Content/images/logo.png" alt="logo-aits"/></a>
                                    </div>
                                </div>
                                <%--<div class="collapse navbar-collapse" id="myNavbar">
                                    <ul class="nav navbar-nav navbar-right">
                                        <li class="active"><a href="#">Trang chủ</a></li>
                                        <li class="active"><a href="#">Việc làm Aits</a></li>
                                        <li><a href="#">Về công ty</a></li>
                                        <li><a href="#">Liên hệ</a></li> <li>
                                            <button class="btn btn_dang-ky">Đăng ký</button>
                                        </li>
                                        <li>
                                            <button class="btn btn_dang-nhap">Đăng nhập</button>
                                        </li>
                                       
                                    </ul>
                                </div>--%>
                            </div>
                        </nav>
                    </div>
                </section>
            </div>
            <!-- END Header -->
            <!-- Banner slideshow -->
            <div class="banner">
                <div>
                    <!-----------------------------------BEGIN: Images of Banner-------------------------------------->
                    <div class="hundred_percent_css banner_1_css">
                        <div class="banner_css">
                            <div id="jssor_1">
                                <div data-u="slides" class="slide_css">
                                    <div>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm-7 banner_text">
                                                    <h1>Cùng <span>AITS </span>kiến tạo tương lai</h1>
                                                    <h3>Khám phá công việc và phát triển con người</h3>
                                                    <br />
                                                    <p>
                                                        AITS - môi trường chuyên nghiệp, năng động, sáng tạo luôn chào đón
                                                    bạn - Những ứng viên
                                                    mong
                                                    muốn
                                                    làm việc trong lĩnh vực công nghệ.
                                                    </p>
                                                    <button type="button" class="btn-primary btn_ung-tuyen">
                                                        Ứng tuyển ngay
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <img data-u="image" src="/Content/images/girl_image.png" alt="Image1" />
                                    </div>
                                    <div>
                                        <img data-u="image" src="/Content/images/sinh-nhat-bac-banner.jpg"
                                            alt="image 2" />
                                    </div>
                                    <div>
                                        <img data-u="image"
                                            src="/Content/images/AITS_webbanner-2049x472%20-%2029Mar(1).jpg"
                                            alt="Iamge3" />
                                    </div>
                                </div>
                                <!-- Bullet Navigator -->
                                <div data-u="navigator" class="jssorb032" data-autocenter="1" data-scale="0.5"
                                    data-scale-bottom="0.75">
                                    <div data-u="prototype" class="i" style="width: 16px; height: 16px;">
                                        <svg viewbox="0 0 16000 16000"
                                            style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
                                            <circle class="b" cx="8000" cy="8000" r="5800"></circle>
                                        </svg>
                                    </div>
                                </div>
                                <!-- Arrow Navigator -->
                                <div data-u="arrowleft" class="jssora051" style="width: 65px; height: 65px; top: 0px; left: 25px;"
                                    data-autocenter="2" data-scale="0.75" data-scale-left="0.75">
                                    <svg viewbox="0 0 16000 16000"
                                        style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
                                        <polyline class="a" points="11040,1920 4960,8000 11040,14080 "></polyline>
                                    </svg>
                                </div>
                                <div data-u="arrowright" class="jssora051"
                                    style="width: 65px; height: 65px; top: 0px; right: 25px;" data-autocenter="2" data-scale="0.75"
                                    data-scale-right="0.75">
                                    <svg viewbox="0 0 16000 16000"
                                        style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
                                        <polyline class="a" points="4960,1920 11040,8000 4960,14080 "></polyline>
                                    </svg>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!--------------------END: for Slideshow----------------------------->
            </div>
            <%-- Main content --%>
            <div class="section main-content" style="min-height:50vh">
                <div class="container" id="body-content">

                    <asp:ContentPlaceHolder ID="Content" runat="server">
                    </asp:ContentPlaceHolder>

                    <div class="modulecontent">
                        <asp:Label ID="txtFullName" runat="server"></asp:Label>
                                    <%--<asp:DropDownList ID="drpDepartments" AutoPostBack="true" CssClass="form-control element_tab_css" OnSelectedIndexChanged="drpDepartment_SelectedIndexChanged" runat="server"></asp:DropDownList>
                        <asp:LinkButton ID="btnLogout" runat="server" OnClick="btnLogout_Click" Text="Thoát"></asp:LinkButton>
                        | 
                        <asp:LinkButton ID="btnChangePassword" runat="server" OnClick="btnChangePassword_Click" Text="Đổi Password"></asp:LinkButton>--%>
                    </div>
                </div>
                
            </div>
            <%-- End main content --%>
            <!-----------------------------------BEGIN: Info Footer-------------------------------------->
            <footer style="font-weight:100%">
                <div class="footer_css footer_info_css" id="info_footer">
                    <div class="container container_css">
                        <div class="container">
                            <div class="row ">
                                <div class="logo_footer_css">
                                    <img src="/Content/images/footer-logo-aits.png" alt="logo-footer" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5 title_footer_css">

                                <div class="footer_ait_title_css">Công ty Cổ phần Tin học - Viễn thông Hàng không</div>
                                <div class="imgTest_css">
                                    <img src="/Content/images/bo-cong-thuong.png" alt="Image logo BaiThi" />
                                </div>

                                <div class="link_logo_css">
                                    <a href="#">
                                        <div class="icon_round_css icon_fb_css"></div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-3 firm_info_css">
                                <div class="footer_ait_title_css">Thông tin liên hệ</div>

                                <div class="buiding_css">
                                    <span class="vpdd_icon_css add_css"></span>
                                    <p>
                                        Số 412 Nguyễn Văn Cừ,
                                    Phường Bồ Đề, Quận Long Biên, TP Hà Nội, Việt Nam
                                    </p>
                                </div>
                                <div class="buiding_css">
                                    <span class="tel_icon_css add_css"></span>
                                    <p>
                                        <b>Tel: 1900 98 98 66</b>
                                        &nbsp;&nbsp;&nbsp; <span class="mess_icon_css add_css"></span><b>Ext: 9511</b>
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-4 firm_info_css">
                                <div class="footer_ait_title_css">
                                    <br />
                                </div>
                                <br />
                                <div class="buiding_css">
                                    <p>
                                        VPĐD: Tầng 3, Tòa nhà VPCN Phía Nam, TCT HKVN
                                    <br />
                                        Số 49 Trường Sơn, Quận Tân Bình, TP HCM, Việt Nam
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-----------------------------------BEGIN: Info Footer-------------------------------------->
                <div class="footer_coppyright">
                    <div class="container">
                        <p style="text-align:center">2019 bản quyền bởi Công ty Cổ phân Tin học - Viễn thông Hàng không AITS</p>
                    </div>
                </div>
            </footer>
        </div>
    </form>

    <script type="text/javascript">jssor_1_slider_init();</script>
</body>

</html>
