USE [nhaitko4_test_online]
GO
/****** Object:  Schema [nhaitko4_test_online]    Script Date: 5/19/2021 16:57:22 ******/
CREATE SCHEMA [nhaitko4_test_online]
GO
/****** Object:  Table [dbo].[BAI_THI]    Script Date: 5/19/2021 16:57:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAI_THI](
	[ID_CHU_DE_BAI_THI] [int] NULL,
	[ID_MUC_DO_BAI_THI] [int] NULL,
	[NGAY_TAO] [datetime] NULL,
	[ID_NGUOI_TAO] [int] NULL,
	[NGAY_SUA] [datetime] NULL,
	[ID_NGUOI_SUA] [int] NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_LOAI_CAU_HOI] [int] NULL,
	[TT_XOA] [bit] NULL,
	[TEN_BAI_THI] [nvarchar](max) NULL,
	[THOI_GIAN] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BAI_THI_CAU_HOI]    Script Date: 5/19/2021 16:57:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAI_THI_CAU_HOI](
	[ID_CAU_HOI] [int] NULL,
	[ID_BAI_THI] [int] NULL,
	[ID_DAP_AN] [int] NULL,
	[TRANG_THAI_GUI_MAIL] [bit] NULL,
	[NGAY_TAO] [datetime] NULL,
	[ID_NGUOI_TAO] [int] NULL,
	[NGAY_SUA] [datetime] NULL,
	[ID_NGUOI_SUA] [int] NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TT_XOA] [bit] NULL,
	[STT] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BAI_THI_UNG_VIEN]    Script Date: 5/19/2021 16:57:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAI_THI_UNG_VIEN](
	[ID_UNG_VIEN] [int] NULL,
	[ID_BAI_THI] [int] NULL,
	[ID_NGUOI_DANH_GIA] [int] NULL,
	[SO_DIEN_THOAI] [nvarchar](50) NULL,
	[NGAY_SINH] [date] NULL,
	[EMAIL] [nvarchar](50) NULL,
	[VI_TRI_TUYEN_DUNG] [nvarchar](50) NULL,
	[KET_QUA_DANH_GIA] [nvarchar](50) NULL,
	[NOI_DUNG_DANH_GIA] [nvarchar](200) NULL,
	[TRANG_THAI_GUI_MAIL] [nvarchar](50) NULL,
	[NGAY_GUI_MAIL] [datetime] NULL,
	[NGAY_HOAN_THANH_BAI_THI] [datetime] NULL,
	[NGAY_TAO] [datetime] NULL,
	[ID_NGUOI_TAO] [int] NULL,
	[NGAY_SUA] [datetime] NULL,
	[ID_NGUOI_SUA] [int] NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TT_XOA] [bit] NULL,
	[DIEM_TRAC_NGHIEM] [nvarchar](10) NULL,
	[SO_CAU_TU_LUAN] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CAU_HINH_BAI_THI]    Script Date: 5/19/2021 16:57:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAU_HINH_BAI_THI](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_BAI_THI] [int] NULL,
	[ID_LOAI_CAU_HOI] [int] NULL,
	[SO_LUONG_CAU_DE] [int] NULL,
	[SO_LUONG_CAU_TB] [int] NULL,
	[SO_LUONG_CAU_KHO] [int] NULL,
	[NGAY_TAO] [datetime] NULL,
	[ID_NGUOI_TAO] [int] NULL,
	[NGAY_SUA] [datetime] NULL,
	[ID_NGUOI_SUA] [int] NULL,
	[TT_XOA] [bit] NULL,
 CONSTRAINT [PK_CAU_HINH_BAI_THI] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CAU_HOI]    Script Date: 5/19/2021 16:57:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAU_HOI](
	[NOI_DUNG_CAU_HOI] [nvarchar](max) NULL,
	[ID_LOAI_CAU_HOI] [int] NULL,
	[ID_BAI_THI] [int] NULL,
	[ID_CHU_DE_BAI_THI] [int] NULL,
	[NGAY_TAO] [datetime] NULL,
	[ID_NGUOI_TAO] [int] NULL,
	[NGAY_SUA] [datetime] NULL,
	[ID_NGUOI_SUA] [int] NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TT_XOA] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CAU_HOI_MUC_DO]    Script Date: 5/19/2021 16:57:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAU_HOI_MUC_DO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_CAU_HOI] [int] NULL,
	[ID_MUC_DO_CAU_HOI] [int] NULL,
	[NGAY_TAO] [datetime] NULL,
	[ID_NGUOI_TAO] [int] NULL,
	[NGAY_SUA] [datetime] NULL,
	[ID_NGUOI_SUA] [int] NULL,
	[TT_XOA] [bit] NULL,
 CONSTRAINT [PK_CAU_HOI_MUC_DO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHU_DE_BAI_THI]    Script Date: 5/19/2021 16:57:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHU_DE_BAI_THI](
	[TEN_CHU_DE] [nvarchar](50) NULL,
	[NGAY_TAO] [datetime] NULL,
	[ID_NGUOI_TAO] [int] NULL,
	[NGAY_SUA] [datetime] NULL,
	[ID_NGUOI_SUA] [int] NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MA_CHU_DE] [nchar](10) NULL,
	[TT_XOA] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DAP_AN]    Script Date: 5/19/2021 16:57:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DAP_AN](
	[NOI_DUNG_DAP_AN] [nvarchar](max) NULL,
	[TRANG_THAI] [bit] NULL,
	[ID_CAU_HOI] [int] NULL,
	[NGAY_TAO] [datetime] NULL,
	[ID_NGUOI_TAO] [int] NULL,
	[NGAY_SUA] [datetime] NULL,
	[ID_NGUOI_SUA] [int] NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TT_XOA] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAI_CAU_HOI]    Script Date: 5/19/2021 16:57:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI_CAU_HOI](
	[MA_LOAI_CAU_HOI] [nchar](10) NULL,
	[MO_TA] [nvarchar](50) NULL,
	[NGAY_TAO] [datetime] NULL,
	[ID_NGUOI_TAO] [int] NULL,
	[NGAY_SUA] [datetime] NULL,
	[ID_NGUOI_SUA] [int] NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TT_XOA] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MUC_DO_BAI_THI]    Script Date: 5/19/2021 16:57:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MUC_DO_BAI_THI](
	[TEN_MUC_DO] [nvarchar](50) NULL,
	[NGAY_TAO] [datetime] NULL,
	[ID_NGUOI_TAO] [int] NULL,
	[NGAY_SUA] [datetime] NULL,
	[ID_NGUOI_SUA] [int] NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MA_MUC_DO] [nchar](10) NULL,
	[TT_XOA] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MUC_DO_CAU_HOI]    Script Date: 5/19/2021 16:57:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MUC_DO_CAU_HOI](
	[MA_MUC_DO] [nchar](10) NULL,
	[MO_TA] [nvarchar](50) NULL,
	[NGAY_TAO] [datetime] NULL,
	[ID_NGUOI_TAO] [int] NULL,
	[NGAY_SUA] [datetime] NULL,
	[ID_NGUOI_SUA] [int] NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TT_XOA] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGUOI_DANH_GIA]    Script Date: 5/19/2021 16:57:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUOI_DANH_GIA](
	[HO_TEN] [nvarchar](50) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[CHUC_VU] [nvarchar](50) NULL,
	[NGAY_TAO] [datetime] NULL,
	[ID_NGUOI_TAO] [int] NULL,
	[NGAY_SUA] [datetime] NULL,
	[ID_NGUOI_SUA] [int] NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TT_XOA] [bit] NULL,
	[Id_PHONG_BAN] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_BAO_CAO_CV]    Script Date: 5/19/2021 16:57:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_BAO_CAO_CV](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_LOAI_CONG_VIEC] [int] NOT NULL,
	[TEN_CONG_VIEC] [nvarchar](200) NULL,
	[MO_TA] [ntext] NULL,
	[STT] [int] NULL,
	[TT_XOA] [bit] NULL,
	[ID_NGUOI_TAO] [int] NULL,
	[NGAY_TAO] [datetime] NULL,
	[ID_NGUOI_SUA] [int] NULL,
	[NGAY_SUA] [datetime] NULL,
	[TONG_THOI_GIAN] [float] NULL,
	[ID_TIMESHEET] [int] NULL,
 CONSTRAINT [PK_BAO_CAO_CV] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_DANH_MUC]    Script Date: 5/19/2021 16:57:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_DANH_MUC](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MA_DANH_MUC] [nvarchar](50) NULL,
	[TEN] [nvarchar](50) NULL,
	[MO_TA] [nvarchar](200) NULL,
	[STT] [int] NULL,
	[TT_XOA] [bit] NULL,
	[ID_NGUOI_TAO] [int] NULL,
	[NGAY_TAO] [datetime] NULL,
	[ID_NGUOI_SUA] [int] NULL,
	[NGAY_SUA] [datetime] NULL,
 CONSTRAINT [PK_DS_DAU_VAO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_DS_TAI_LIEU]    Script Date: 5/19/2021 16:57:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_DS_TAI_LIEU](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_HE_THONG] [int] NOT NULL,
	[DAC_TA_YCKH] [bit] NULL,
	[GPKT] [bit] NULL,
	[TL2589] [bit] NULL,
	[PTTK] [bit] NULL,
	[HDSD] [bit] NULL,
	[HDCDHT] [bit] NULL,
	[UAT] [bit] NULL,
	[CODING] [bit] NULL,
	[BBNTKT] [bit] NULL,
	[BBNTTT] [bit] NULL,
	[BBBG_DBHD] [bit] NULL,
	[HDBT] [bit] NULL,
	[HDQLTD] [bit] NULL,
	[TT_XOA] [bit] NULL,
	[ID_NGUOI_TAO] [int] NULL,
	[NGAY_TAO] [datetime] NULL,
	[ID_NGUOI_SUA] [int] NULL,
	[NGAY_SUA] [datetime] NULL,
 CONSTRAINT [PK_DS_TAI_LIEU] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_HE_THONG]    Script Date: 5/19/2021 16:57:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_HE_THONG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MA_HE_THONG] [nvarchar](50) NULL,
	[STT] [int] NULL,
	[TT_XOA] [bit] NULL,
	[ID_NGUOI_TAO] [int] NULL,
	[NGAY_TAO] [datetime] NULL,
	[ID_NGUOI_SUA] [int] NULL,
	[NGAY_SUA] [datetime] NULL,
	[ID_HOP_DONG] [int] NULL,
	[TEN] [nvarchar](250) NULL,
	[MO_TA] [nvarchar](500) NULL,
	[NGAY_KH_GUI_YC] [datetime] NULL,
	[NGAY_KH_YC_HOAN_THANH] [datetime] NULL,
	[ID_KH_KY_HD] [int] NULL,
	[ID_KH_NSD] [int] NULL,
	[DO_UU_TIEN] [smallint] NULL,
	[NGAY_BAT_DAU_LAM] [datetime] NULL,
	[NGAY_NGHIEM_THU_TT] [datetime] NULL,
	[QUY] [smallint] NULL,
	[MAN_DAY] [int] NULL,
	[ID_TRANG_THAI_DA] [int] NULL,
	[ID_PRODUCT_OWNER] [int] NULL,
	[ID_PM] [int] NULL,
	[ID_NGUOI_THUC_HIEN] [int] NULL,
	[ID_NGUOI_PHOI_HOP] [int] NULL,
	[ID_LOAI_TRIEN_KHAI_DA] [int] NULL,
	[ID_PHAM_VI_DA] [int] NULL,
	[ID_TIEN_DO] [int] NULL,
	[TT_DBHD] [int] NULL,
	[ID_THU_KY_DA] [int] NULL,
 CONSTRAINT [PK_HE_THONG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_HOP_DA]    Script Date: 5/19/2021 16:57:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_HOP_DA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_HE_THONG] [int] NOT NULL,
	[NGAY_HOP] [datetime] NOT NULL,
	[GIO_BAT_DAU] [time](7) NULL,
	[GIO_KET_THUC] [time](7) NULL,
	[DIA_DIEM] [nvarchar](500) NULL,
	[ID_KIEU_HOP] [int] NULL,
	[ID_HINH_THUC_HOP] [int] NULL,
	[NOI_DUNG_HOP] [ntext] NULL,
	[GHI_CHU] [ntext] NULL,
	[URL] [nvarchar](500) NULL,
	[STT] [int] NULL,
	[TT_XOA] [bit] NULL,
	[ID_NGUOI_TAO] [int] NULL,
	[NGAY_TAO] [datetime] NULL,
	[ID_NGUOI_SUA] [int] NULL,
	[NGAY_SUA] [datetime] NULL,
 CONSTRAINT [PK_HOP_DA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_HOP_DONG]    Script Date: 5/19/2021 16:57:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_HOP_DONG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MA_HOP_DONG] [nvarchar](50) NULL,
	[SO_HOP_DONG] [nvarchar](50) NULL,
	[TEN] [nvarchar](50) NULL,
	[MO_TA] [nvarchar](200) NULL,
	[STT] [int] NULL,
	[TT_XOA] [bit] NULL,
	[ID_NGUOI_TAO] [int] NULL,
	[NGAY_TAO] [datetime] NULL,
	[ID_NGUOI_SUA] [int] NULL,
	[NGAY_SUA] [datetime] NULL,
 CONSTRAINT [PK_HOP_DONG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_MENU]    Script Date: 5/19/2021 16:57:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_MENU](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_LOAI_MENU] [int] NOT NULL,
	[TEN] [nvarchar](255) NOT NULL,
	[TEN_URL] [nvarchar](255) NULL,
	[LINK] [nvarchar](255) NULL,
	[isEnabled] [bit] NOT NULL,
	[ID_CHA] [int] NOT NULL,
	[STT] [int] NOT NULL,
	[ID_NGON_NGU] [int] NULL,
 CONSTRAINT [PK_Menu] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_MENU_LOAI]    Script Date: 5/19/2021 16:57:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_MENU_LOAI](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TIEU_DE] [nvarchar](255) NOT NULL,
	[MO_TA] [nvarchar](255) NOT NULL,
	[CODE] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Menu_Loai] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_MENU_QUYEN]    Script Date: 5/19/2021 16:57:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_MENU_QUYEN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_QUYEN] [int] NOT NULL,
	[ID_MENU] [int] NOT NULL,
 CONSTRAINT [PK_Menu_Quyen] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_NGUOI_DUNG]    Script Date: 5/19/2021 16:57:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_NGUOI_DUNG](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[FirstName] [nvarchar](150) NULL,
	[LastName] [nvarchar](150) NULL,
	[Email] [nvarchar](256) NULL,
	[isAdmin] [bit] NULL,
	[isEnabled] [bit] NULL,
	[Password] [nvarchar](50) NULL,
	[Tel] [nvarchar](30) NULL,
	[FullName] [nvarchar](50) NULL,
 CONSTRAINT [PK_NguoiDung] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_NGUOI_DUNG_PHONG_BAN]    Script Date: 5/19/2021 16:57:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_NGUOI_DUNG_PHONG_BAN](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[DepartmentID] [int] NULL,
	[isLeader] [bit] NULL,
	[isDeleted] [bit] NULL,
 CONSTRAINT [PK_NguoiDungPhongBan] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_NGUOI_DUNG_QUYEN]    Script Date: 5/19/2021 16:57:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_NGUOI_DUNG_QUYEN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_NGUOI_DUNG] [int] NOT NULL,
	[ID_QUYEN] [int] NOT NULL,
 CONSTRAINT [PK_NguoiDung_Quyen] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_NHIEM_VU]    Script Date: 5/19/2021 16:57:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_NHIEM_VU](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_CHA] [int] NULL,
	[ID_HE_THONG_DA] [int] NULL,
	[ID_CHANGE_REQUEST] [int] NULL,
	[TEN_NHIEM_VU] [ntext] NULL,
	[ID_NGUOI_CHU_TRI] [int] NULL,
	[ID_NGUOI_PHOI_HOP] [int] NULL,
	[NGAY_BAT_DAU_DK] [date] NULL,
	[NGAY_KET_THUC_DK] [date] NULL,
	[SO_NGAY_DK] [int] NULL,
	[NGAY_BAT_DAU_TT] [date] NULL,
	[NGAY_KET_THUC_TT] [date] NULL,
	[SO_NGAY_TT] [int] NULL,
	[ID_KET_QUA] [int] NULL,
	[PHAN_TRAM_KET_QUA] [int] NULL,
	[GHI_CHU] [ntext] NULL,
	[TT_XOA] [bit] NULL,
	[ID_NGUOI_TAO] [int] NULL,
	[NGAY_TAO] [datetime] NULL,
	[ID_NGUOI_SUA] [int] NULL,
	[NGAY_SUA] [datetime] NULL,
	[STT] [int] NULL,
	[SPRINT] [int] NULL,
 CONSTRAINT [PK_NHIEM_VU] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_PHONG_BAN]    Script Date: 5/19/2021 16:57:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_PHONG_BAN](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [nvarchar](50) NULL,
	[isDefault] [bit] NULL,
	[isDeleted] [bit] NULL,
	[isVisible] [bit] NULL,
	[IdParent] [int] NULL,
	[DepartmentCode] [varchar](30) NULL,
 CONSTRAINT [PK_Department] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_QUYEN]    Script Date: 5/19/2021 16:57:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_QUYEN](
	[ID] [int] NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[DESCRIPTION] [nvarchar](100) NULL,
	[CODE] [nvarchar](50) NULL,
	[ID_PARENT] [int] NULL,
 CONSTRAINT [PK_DS_Quyen] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_QUYEN_RULE]    Script Date: 5/19/2021 16:57:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_QUYEN_RULE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_QUYEN] [int] NOT NULL,
	[ID_RULE] [int] NOT NULL,
 CONSTRAINT [PK_Menu_Quyen_RULE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_RUI_RO]    Script Date: 5/19/2021 16:57:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_RUI_RO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_HE_THONG] [int] NOT NULL,
	[MA_RUI_RO] [nvarchar](50) NOT NULL,
	[NOI_DUNG] [nvarchar](500) NOT NULL,
	[MO_TA] [ntext] NULL,
	[GIAI_PHAP] [ntext] NULL,
	[KIEN_NGHI] [ntext] NULL,
	[GHI_CHU] [ntext] NULL,
	[ID_MUC_UU_TIEN] [int] NULL,
	[ID_KET_QUA] [int] NULL,
	[ID_NGUOI_CHU_TRI] [int] NULL,
	[STT] [int] NULL,
	[TT_XOA] [bit] NULL,
	[ID_NGUOI_TAO] [int] NULL,
	[NGAY_TAO] [datetime] NULL,
	[ID_NGUOI_SUA] [int] NULL,
	[NGAY_SUA] [datetime] NULL,
	[NGAY_BAT_DAU] [datetime] NULL,
	[NGAY_KET_THUC] [datetime] NULL,
	[NGAY_PHAT_SINH] [datetime] NULL,
	[TT_TRACH_NHIEM_KH] [bit] NULL,
	[TT_TRACH_NHIEM_AITS] [bit] NULL,
	[TT_TRACH_NHIEM_DT] [bit] NULL,
 CONSTRAINT [PK_RUI_RO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_RULE]    Script Date: 5/19/2021 16:57:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_RULE](
	[ID] [int] NOT NULL,
	[NAME] [nvarchar](255) NOT NULL,
	[CODE] [nvarchar](100) NOT NULL,
	[isEnabled] [bit] NOT NULL,
	[ID_PARENT] [int] NOT NULL,
	[ORDER] [int] NOT NULL,
 CONSTRAINT [PK_DS_Quyen_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_THEO_DOI_CV]    Script Date: 5/19/2021 16:57:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_THEO_DOI_CV](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TEN_CONG_VIEC] [nvarchar](200) NULL,
	[ID_HE_THONG] [int] NULL,
	[ID_HOP_DONG] [int] NULL,
	[ID_NGUOI_CHU_TRI] [int] NULL,
	[ID_NGUOI_PHOI_HOP] [nvarchar](50) NULL,
	[NGAY_BAT_DAU] [date] NULL,
	[NGAY_KET_THUC] [date] NOT NULL,
	[ID_KET_QUA_CV] [int] NULL,
	[GHI_CHU] [ntext] NULL,
	[TT_XOA] [bit] NULL,
	[ID_NGUOI_TAO] [int] NULL,
	[NGAY_TAO] [datetime] NULL,
	[ID_NGUOI_SUA] [int] NULL,
	[NGAY_SUA] [datetime] NULL,
	[ID_MUC_DO_CV] [int] NULL,
 CONSTRAINT [PK_TheoDoi_CV] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_TIMESHEET]    Script Date: 5/19/2021 16:57:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_TIMESHEET](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KHO_KHAN_KIEN_NGHI] [nvarchar](500) NULL,
	[SANG_KIEN] [nvarchar](500) NULL,
	[TONG_THOI_GIAN] [float] NULL,
	[NGAY_BAO_CAO] [datetime] NULL,
	[STT] [int] NULL,
	[TT_XOA] [bit] NULL,
	[ID_NGUOI_TAO] [int] NULL,
	[NGAY_TAO] [datetime] NULL,
	[ID_NGUOI_SUA] [int] NULL,
	[NGAY_SUA] [datetime] NULL,
	[GHI_CHU] [nvarchar](500) NULL,
 CONSTRAINT [PK_TIMESHEET] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UNG_VIEN]    Script Date: 5/19/2021 16:57:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UNG_VIEN](
	[HO_TEN] [nvarchar](50) NULL,
	[NGAY_SINH] [date] NULL,
	[SO_DIEN_THOAI] [nvarchar](50) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[ID_CHU_DE_BAI_THI] [int] NULL,
	[ID_BAI_THI] [int] NULL,
	[NGAY_TAO] [datetime] NULL,
	[ID_NGUOI_TAO] [int] NULL,
	[NGAY_SUA] [datetime] NULL,
	[ID_NGUOI_SUA] [int] NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TT_XOA] [bit] NULL,
	[MA_UNG_VIEN] [nvarchar](50) NULL,
	[UserName] [nvarchar](500) NULL,
	[Password] [nvarchar](500) NULL,
	[isEnabled] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UNG_VIEN_TRA_LOI]    Script Date: 5/19/2021 16:57:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UNG_VIEN_TRA_LOI](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_UNG_VIEN] [int] NULL,
	[ID_BAI_THI_UNG_VIEN] [int] NULL,
	[ID_BAI_THI] [int] NULL,
	[ID_CAU_HOI] [int] NULL,
	[ID_DAP_AN] [nvarchar](100) NULL,
	[NOI_DUNG_TRA_LOI] [nvarchar](max) NULL,
	[TT_KET_QUA] [bit] NULL,
 CONSTRAINT [PK_UNG_VIEN_TRA_LOI] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BAI_THI] ON 

INSERT [dbo].[BAI_THI] ([ID_CHU_DE_BAI_THI], [ID_MUC_DO_BAI_THI], [NGAY_TAO], [ID_NGUOI_TAO], [NGAY_SUA], [ID_NGUOI_SUA], [ID], [ID_LOAI_CAU_HOI], [TT_XOA], [TEN_BAI_THI], [THOI_GIAN]) VALUES (1, 1, CAST(N'2021-04-22T16:53:33.163' AS DateTime), 1, NULL, NULL, 8, NULL, 0, N'TEST', NULL)
INSERT [dbo].[BAI_THI] ([ID_CHU_DE_BAI_THI], [ID_MUC_DO_BAI_THI], [NGAY_TAO], [ID_NGUOI_TAO], [NGAY_SUA], [ID_NGUOI_SUA], [ID], [ID_LOAI_CAU_HOI], [TT_XOA], [TEN_BAI_THI], [THOI_GIAN]) VALUES (3, 3, CAST(N'2021-04-23T09:38:51.827' AS DateTime), 1, NULL, NULL, 9, NULL, 0, N'TEST 2', NULL)
INSERT [dbo].[BAI_THI] ([ID_CHU_DE_BAI_THI], [ID_MUC_DO_BAI_THI], [NGAY_TAO], [ID_NGUOI_TAO], [NGAY_SUA], [ID_NGUOI_SUA], [ID], [ID_LOAI_CAU_HOI], [TT_XOA], [TEN_BAI_THI], [THOI_GIAN]) VALUES (1, 3, CAST(N'2021-04-23T15:35:45.797' AS DateTime), 1, NULL, NULL, 10, NULL, 0, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[BAI_THI] OFF
GO
SET IDENTITY_INSERT [dbo].[BAI_THI_CAU_HOI] ON 

INSERT [dbo].[BAI_THI_CAU_HOI] ([ID_CAU_HOI], [ID_BAI_THI], [ID_DAP_AN], [TRANG_THAI_GUI_MAIL], [NGAY_TAO], [ID_NGUOI_TAO], [NGAY_SUA], [ID_NGUOI_SUA], [ID], [TT_XOA], [STT]) VALUES (2, 74, NULL, NULL, NULL, NULL, NULL, NULL, 1, NULL, NULL)
INSERT [dbo].[BAI_THI_CAU_HOI] ([ID_CAU_HOI], [ID_BAI_THI], [ID_DAP_AN], [TRANG_THAI_GUI_MAIL], [NGAY_TAO], [ID_NGUOI_TAO], [NGAY_SUA], [ID_NGUOI_SUA], [ID], [TT_XOA], [STT]) VALUES (2, 74, NULL, NULL, NULL, NULL, NULL, NULL, 2, NULL, NULL)
INSERT [dbo].[BAI_THI_CAU_HOI] ([ID_CAU_HOI], [ID_BAI_THI], [ID_DAP_AN], [TRANG_THAI_GUI_MAIL], [NGAY_TAO], [ID_NGUOI_TAO], [NGAY_SUA], [ID_NGUOI_SUA], [ID], [TT_XOA], [STT]) VALUES (5, 74, NULL, NULL, NULL, NULL, NULL, NULL, 3, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[BAI_THI_CAU_HOI] OFF
GO
SET IDENTITY_INSERT [dbo].[BAI_THI_UNG_VIEN] ON 

INSERT [dbo].[BAI_THI_UNG_VIEN] ([ID_UNG_VIEN], [ID_BAI_THI], [ID_NGUOI_DANH_GIA], [SO_DIEN_THOAI], [NGAY_SINH], [EMAIL], [VI_TRI_TUYEN_DUNG], [KET_QUA_DANH_GIA], [NOI_DUNG_DANH_GIA], [TRANG_THAI_GUI_MAIL], [NGAY_GUI_MAIL], [NGAY_HOAN_THANH_BAI_THI], [NGAY_TAO], [ID_NGUOI_TAO], [NGAY_SUA], [ID_NGUOI_SUA], [ID], [TT_XOA], [DIEM_TRAC_NGHIEM], [SO_CAU_TU_LUAN]) VALUES (1, 8, NULL, N'01234567891', CAST(N'1999-09-29' AS Date), N'namnguyen8616@gmail.com', NULL, NULL, NULL, N'1', CAST(N'2021-05-14T12:43:34.087' AS DateTime), NULL, NULL, NULL, NULL, NULL, 6, NULL, NULL, NULL)
INSERT [dbo].[BAI_THI_UNG_VIEN] ([ID_UNG_VIEN], [ID_BAI_THI], [ID_NGUOI_DANH_GIA], [SO_DIEN_THOAI], [NGAY_SINH], [EMAIL], [VI_TRI_TUYEN_DUNG], [KET_QUA_DANH_GIA], [NOI_DUNG_DANH_GIA], [TRANG_THAI_GUI_MAIL], [NGAY_GUI_MAIL], [NGAY_HOAN_THANH_BAI_THI], [NGAY_TAO], [ID_NGUOI_TAO], [NGAY_SUA], [ID_NGUOI_SUA], [ID], [TT_XOA], [DIEM_TRAC_NGHIEM], [SO_CAU_TU_LUAN]) VALUES (10, 8, NULL, NULL, NULL, N'datnguyen120899@gmail.com', NULL, NULL, NULL, N'1', CAST(N'2021-05-13T13:46:50.520' AS DateTime), NULL, NULL, NULL, NULL, NULL, 7, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[BAI_THI_UNG_VIEN] OFF
GO
SET IDENTITY_INSERT [dbo].[CAU_HINH_BAI_THI] ON 

INSERT [dbo].[CAU_HINH_BAI_THI] ([ID], [ID_BAI_THI], [ID_LOAI_CAU_HOI], [SO_LUONG_CAU_DE], [SO_LUONG_CAU_TB], [SO_LUONG_CAU_KHO], [NGAY_TAO], [ID_NGUOI_TAO], [NGAY_SUA], [ID_NGUOI_SUA], [TT_XOA]) VALUES (1, 8, 1, 2, 3, 4, CAST(N'2021-04-22T16:53:33.183' AS DateTime), 1, NULL, NULL, 0)
INSERT [dbo].[CAU_HINH_BAI_THI] ([ID], [ID_BAI_THI], [ID_LOAI_CAU_HOI], [SO_LUONG_CAU_DE], [SO_LUONG_CAU_TB], [SO_LUONG_CAU_KHO], [NGAY_TAO], [ID_NGUOI_TAO], [NGAY_SUA], [ID_NGUOI_SUA], [TT_XOA]) VALUES (2, 8, 2, 7, 8, 9, CAST(N'2021-04-22T16:53:33.200' AS DateTime), 1, NULL, NULL, 0)
INSERT [dbo].[CAU_HINH_BAI_THI] ([ID], [ID_BAI_THI], [ID_LOAI_CAU_HOI], [SO_LUONG_CAU_DE], [SO_LUONG_CAU_TB], [SO_LUONG_CAU_KHO], [NGAY_TAO], [ID_NGUOI_TAO], [NGAY_SUA], [ID_NGUOI_SUA], [TT_XOA]) VALUES (3, 9, 1, 2, 3, 4, CAST(N'2021-04-23T09:38:51.847' AS DateTime), 1, NULL, NULL, 0)
GO
SET IDENTITY_INSERT [dbo].[CAU_HINH_BAI_THI] OFF
GO
SET IDENTITY_INSERT [dbo].[CAU_HOI] ON 

INSERT [dbo].[CAU_HOI] ([NOI_DUNG_CAU_HOI], [ID_LOAI_CAU_HOI], [ID_BAI_THI], [ID_CHU_DE_BAI_THI], [NGAY_TAO], [ID_NGUOI_TAO], [NGAY_SUA], [ID_NGUOI_SUA], [ID], [TT_XOA]) VALUES (N'Yêu cầu kỹ năng phân tích kinh doanh đối với một BA là gì?', 1, NULL, 1, CAST(N'2021-05-05T14:27:33.167' AS DateTime), 1, CAST(N'2021-05-05T14:27:44.293' AS DateTime), 1, 2, 0)
INSERT [dbo].[CAU_HOI] ([NOI_DUNG_CAU_HOI], [ID_LOAI_CAU_HOI], [ID_BAI_THI], [ID_CHU_DE_BAI_THI], [NGAY_TAO], [ID_NGUOI_TAO], [NGAY_SUA], [ID_NGUOI_SUA], [ID], [TT_XOA]) VALUES (N'Giải thích các vai trò và trách nhiệm chính của Business Analyst?', 1, NULL, 1, CAST(N'2021-05-05T14:29:28.210' AS DateTime), 1, CAST(N'2021-05-05T14:29:28.213' AS DateTime), 1, 3, 0)
INSERT [dbo].[CAU_HOI] ([NOI_DUNG_CAU_HOI], [ID_LOAI_CAU_HOI], [ID_BAI_THI], [ID_CHU_DE_BAI_THI], [NGAY_TAO], [ID_NGUOI_TAO], [NGAY_SUA], [ID_NGUOI_SUA], [ID], [TT_XOA]) VALUES (N'Các kỹ năng cần thiết của BA để được tuyển dụng là gì?', 1, NULL, 1, CAST(N'2021-05-05T14:30:59.200' AS DateTime), 1, CAST(N'2021-05-05T14:31:17.317' AS DateTime), 1, 4, 0)
SET IDENTITY_INSERT [dbo].[CAU_HOI] OFF
GO
SET IDENTITY_INSERT [dbo].[CAU_HOI_MUC_DO] ON 

INSERT [dbo].[CAU_HOI_MUC_DO] ([ID], [ID_CAU_HOI], [ID_MUC_DO_CAU_HOI], [NGAY_TAO], [ID_NGUOI_TAO], [NGAY_SUA], [ID_NGUOI_SUA], [TT_XOA]) VALUES (4, 2, 1, CAST(N'2021-05-05T14:27:33.563' AS DateTime), 1, CAST(N'2021-05-05T14:27:33.567' AS DateTime), 1, 0)
INSERT [dbo].[CAU_HOI_MUC_DO] ([ID], [ID_CAU_HOI], [ID_MUC_DO_CAU_HOI], [NGAY_TAO], [ID_NGUOI_TAO], [NGAY_SUA], [ID_NGUOI_SUA], [TT_XOA]) VALUES (5, 2, 2, CAST(N'2021-05-05T14:27:33.703' AS DateTime), 1, CAST(N'2021-05-05T14:27:33.703' AS DateTime), 1, 0)
INSERT [dbo].[CAU_HOI_MUC_DO] ([ID], [ID_CAU_HOI], [ID_MUC_DO_CAU_HOI], [NGAY_TAO], [ID_NGUOI_TAO], [NGAY_SUA], [ID_NGUOI_SUA], [TT_XOA]) VALUES (6, 3, 1, CAST(N'2021-05-05T14:29:28.280' AS DateTime), 1, CAST(N'2021-05-05T14:29:28.280' AS DateTime), 1, 0)
SET IDENTITY_INSERT [dbo].[CAU_HOI_MUC_DO] OFF
GO
SET IDENTITY_INSERT [dbo].[CHU_DE_BAI_THI] ON 

INSERT [dbo].[CHU_DE_BAI_THI] ([TEN_CHU_DE], [NGAY_TAO], [ID_NGUOI_TAO], [NGAY_SUA], [ID_NGUOI_SUA], [ID], [MA_CHU_DE], [TT_XOA]) VALUES (N'Phòng Phát triển SPDVPM', NULL, NULL, NULL, NULL, 1, N'PM        ', 0)
INSERT [dbo].[CHU_DE_BAI_THI] ([TEN_CHU_DE], [NGAY_TAO], [ID_NGUOI_TAO], [NGAY_SUA], [ID_NGUOI_SUA], [ID], [MA_CHU_DE], [TT_XOA]) VALUES (N'Phòng ĐBCL và phát hành sản phẩm dịch vụ', NULL, NULL, NULL, NULL, 2, N'ĐBCL      ', 0)
INSERT [dbo].[CHU_DE_BAI_THI] ([TEN_CHU_DE], [NGAY_TAO], [ID_NGUOI_TAO], [NGAY_SUA], [ID_NGUOI_SUA], [ID], [MA_CHU_DE], [TT_XOA]) VALUES (N'Phòng Tổ chức hành chính', NULL, NULL, NULL, NULL, 3, N'TCHC      ', 0)
SET IDENTITY_INSERT [dbo].[CHU_DE_BAI_THI] OFF
GO
SET IDENTITY_INSERT [dbo].[DAP_AN] ON 

INSERT [dbo].[DAP_AN] ([NOI_DUNG_DAP_AN], [TRANG_THAI], [ID_CAU_HOI], [NGAY_TAO], [ID_NGUOI_TAO], [NGAY_SUA], [ID_NGUOI_SUA], [ID], [TT_XOA]) VALUES (N'Kỹ năng thu thập thông tin', 1, 2, CAST(N'2021-05-05T14:27:33.823' AS DateTime), 1, CAST(N'2021-05-05T14:27:44.543' AS DateTime), 1, 5, 0)
INSERT [dbo].[DAP_AN] ([NOI_DUNG_DAP_AN], [TRANG_THAI], [ID_CAU_HOI], [NGAY_TAO], [ID_NGUOI_TAO], [NGAY_SUA], [ID_NGUOI_SUA], [ID], [TT_XOA]) VALUES (N'Kỹ năng phân tích', 1, 2, CAST(N'2021-05-05T14:27:33.823' AS DateTime), 1, CAST(N'2021-05-05T14:27:44.570' AS DateTime), 1, 6, 0)
INSERT [dbo].[DAP_AN] ([NOI_DUNG_DAP_AN], [TRANG_THAI], [ID_CAU_HOI], [NGAY_TAO], [ID_NGUOI_TAO], [NGAY_SUA], [ID_NGUOI_SUA], [ID], [TT_XOA]) VALUES (N'Sáng tạo', 1, 2, CAST(N'2021-05-05T14:27:33.827' AS DateTime), 1, CAST(N'2021-05-05T14:27:44.580' AS DateTime), 1, 7, 0)
GO
SET IDENTITY_INSERT [dbo].[DAP_AN] OFF
GO
SET IDENTITY_INSERT [dbo].[LOAI_CAU_HOI] ON 

INSERT [dbo].[LOAI_CAU_HOI] ([MA_LOAI_CAU_HOI], [MO_TA], [NGAY_TAO], [ID_NGUOI_TAO], [NGAY_SUA], [ID_NGUOI_SUA], [ID], [TT_XOA]) VALUES (N'TN        ', N'Trắc nghiệm', NULL, NULL, NULL, NULL, 1, 0)
INSERT [dbo].[LOAI_CAU_HOI] ([MA_LOAI_CAU_HOI], [MO_TA], [NGAY_TAO], [ID_NGUOI_TAO], [NGAY_SUA], [ID_NGUOI_SUA], [ID], [TT_XOA]) VALUES (N'TL        ', N'Tự luận', NULL, NULL, NULL, NULL, 2, 0)
SET IDENTITY_INSERT [dbo].[LOAI_CAU_HOI] OFF
GO
SET IDENTITY_INSERT [dbo].[MUC_DO_BAI_THI] ON 

INSERT [dbo].[MUC_DO_BAI_THI] ([TEN_MUC_DO], [NGAY_TAO], [ID_NGUOI_TAO], [NGAY_SUA], [ID_NGUOI_SUA], [ID], [MA_MUC_DO], [TT_XOA]) VALUES (N'Dễ', NULL, NULL, NULL, NULL, 1, N'MDBT01    ', 0)
INSERT [dbo].[MUC_DO_BAI_THI] ([TEN_MUC_DO], [NGAY_TAO], [ID_NGUOI_TAO], [NGAY_SUA], [ID_NGUOI_SUA], [ID], [MA_MUC_DO], [TT_XOA]) VALUES (N'Trung bình', NULL, NULL, NULL, NULL, 2, N'MDBT02    ', 0)
INSERT [dbo].[MUC_DO_BAI_THI] ([TEN_MUC_DO], [NGAY_TAO], [ID_NGUOI_TAO], [NGAY_SUA], [ID_NGUOI_SUA], [ID], [MA_MUC_DO], [TT_XOA]) VALUES (N'Khó', NULL, NULL, NULL, NULL, 3, N'MDBT03    ', 0)
SET IDENTITY_INSERT [dbo].[MUC_DO_BAI_THI] OFF
GO
SET IDENTITY_INSERT [dbo].[MUC_DO_CAU_HOI] ON 

INSERT [dbo].[MUC_DO_CAU_HOI] ([MA_MUC_DO], [MO_TA], [NGAY_TAO], [ID_NGUOI_TAO], [NGAY_SUA], [ID_NGUOI_SUA], [ID], [TT_XOA]) VALUES (N'M01       ', N'Dễ', NULL, NULL, NULL, NULL, 1, 0)
INSERT [dbo].[MUC_DO_CAU_HOI] ([MA_MUC_DO], [MO_TA], [NGAY_TAO], [ID_NGUOI_TAO], [NGAY_SUA], [ID_NGUOI_SUA], [ID], [TT_XOA]) VALUES (N'M02       ', N'Trung bình', NULL, NULL, NULL, NULL, 2, 0)
INSERT [dbo].[MUC_DO_CAU_HOI] ([MA_MUC_DO], [MO_TA], [NGAY_TAO], [ID_NGUOI_TAO], [NGAY_SUA], [ID_NGUOI_SUA], [ID], [TT_XOA]) VALUES (N'M03       ', N'Khó', NULL, NULL, NULL, NULL, 3, 0)
SET IDENTITY_INSERT [dbo].[MUC_DO_CAU_HOI] OFF
GO
SET IDENTITY_INSERT [dbo].[NGUOI_DANH_GIA] ON 

INSERT [dbo].[NGUOI_DANH_GIA] ([HO_TEN], [EMAIL], [CHUC_VU], [NGAY_TAO], [ID_NGUOI_TAO], [NGAY_SUA], [ID_NGUOI_SUA], [ID], [TT_XOA], [Id_PHONG_BAN]) VALUES (N'Dương Văn Tuyền', N'cvpm3.aits@gmail.com', NULL, NULL, NULL, NULL, NULL, 1, NULL, 1)
INSERT [dbo].[NGUOI_DANH_GIA] ([HO_TEN], [EMAIL], [CHUC_VU], [NGAY_TAO], [ID_NGUOI_TAO], [NGAY_SUA], [ID_NGUOI_SUA], [ID], [TT_XOA], [Id_PHONG_BAN]) VALUES (N'Nguyễn Văn A', N'A@gmail.com', NULL, NULL, NULL, NULL, NULL, 2, NULL, 2)
INSERT [dbo].[NGUOI_DANH_GIA] ([HO_TEN], [EMAIL], [CHUC_VU], [NGAY_TAO], [ID_NGUOI_TAO], [NGAY_SUA], [ID_NGUOI_SUA], [ID], [TT_XOA], [Id_PHONG_BAN]) VALUES (N'Nguyễn Thế Đạt', N'datnguyen120899@gmail.com', NULL, NULL, NULL, NULL, NULL, 3, NULL, 1)
SET IDENTITY_INSERT [dbo].[NGUOI_DANH_GIA] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_BAO_CAO_CV] ON 

INSERT [dbo].[TBL_BAO_CAO_CV] ([ID], [ID_LOAI_CONG_VIEC], [TEN_CONG_VIEC], [MO_TA], [STT], [TT_XOA], [ID_NGUOI_TAO], [NGAY_TAO], [ID_NGUOI_SUA], [NGAY_SUA], [TONG_THOI_GIAN], [ID_TIMESHEET]) VALUES (1, 4, N'TTT', N'', NULL, 0, 1, CAST(N'2020-08-01T18:12:14.797' AS DateTime), 1, CAST(N'2020-08-01T18:12:14.807' AS DateTime), 12, NULL)
INSERT [dbo].[TBL_BAO_CAO_CV] ([ID], [ID_LOAI_CONG_VIEC], [TEN_CONG_VIEC], [MO_TA], [STT], [TT_XOA], [ID_NGUOI_TAO], [NGAY_TAO], [ID_NGUOI_SUA], [NGAY_SUA], [TONG_THOI_GIAN], [ID_TIMESHEET]) VALUES (2, 4, N'TSTTT', N'Làm d? án ', NULL, 0, 1, CAST(N'2020-08-01T18:20:37.043' AS DateTime), 1, CAST(N'2020-08-01T18:20:37.047' AS DateTime), 12, NULL)
INSERT [dbo].[TBL_BAO_CAO_CV] ([ID], [ID_LOAI_CONG_VIEC], [TEN_CONG_VIEC], [MO_TA], [STT], [TT_XOA], [ID_NGUOI_TAO], [NGAY_TAO], [ID_NGUOI_SUA], [NGAY_SUA], [TONG_THOI_GIAN], [ID_TIMESHEET]) VALUES (3, 5, N'Làm dự án', N'R?t nhi?u chi ti?t', NULL, 0, 1, CAST(N'2020-08-01T18:20:37.097' AS DateTime), 1, CAST(N'2020-08-01T18:20:37.097' AS DateTime), 12, NULL)
SET IDENTITY_INSERT [dbo].[TBL_BAO_CAO_CV] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_DANH_MUC] ON 

INSERT [dbo].[TBL_DANH_MUC] ([ID], [MA_DANH_MUC], [TEN], [MO_TA], [STT], [TT_XOA], [ID_NGUOI_TAO], [NGAY_TAO], [ID_NGUOI_SUA], [NGAY_SUA]) VALUES (1, N'KET_QUA_CONG_VIEC', N'Hoàn thành', NULL, 1, 0, NULL, NULL, NULL, NULL)
INSERT [dbo].[TBL_DANH_MUC] ([ID], [MA_DANH_MUC], [TEN], [MO_TA], [STT], [TT_XOA], [ID_NGUOI_TAO], [NGAY_TAO], [ID_NGUOI_SUA], [NGAY_SUA]) VALUES (2, N'KET_QUA_CONG_VIEC', N'Hủy', NULL, 2, 0, NULL, NULL, NULL, NULL)
INSERT [dbo].[TBL_DANH_MUC] ([ID], [MA_DANH_MUC], [TEN], [MO_TA], [STT], [TT_XOA], [ID_NGUOI_TAO], [NGAY_TAO], [ID_NGUOI_SUA], [NGAY_SUA]) VALUES (3, N'KET_QUA_CONG_VIEC', N'Đang làm', NULL, 3, 0, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[TBL_DANH_MUC] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_HE_THONG] ON 

GO
SET IDENTITY_INSERT [dbo].[TBL_HE_THONG] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_HOP_DA] ON 

INSERT [dbo].[TBL_HOP_DA] ([ID], [ID_HE_THONG], [NGAY_HOP], [GIO_BAT_DAU], [GIO_KET_THUC], [DIA_DIEM], [ID_KIEU_HOP], [ID_HINH_THUC_HOP], [NOI_DUNG_HOP], [GHI_CHU], [URL], [STT], [TT_XOA], [ID_NGUOI_TAO], [NGAY_TAO], [ID_NGUOI_SUA], [NGAY_SUA]) VALUES (2, 3, CAST(N'2020-08-27T00:00:00.000' AS DateTime), CAST(N'08:30:00' AS Time), CAST(N'10:30:00' AS Time), N'412 Nguyễn Văn Cừ', 12, 15, N'Kick off', N'Kick off thành công', N'\UploadFiles\NHIEM_VU\Plan_QLCV.xlsx', 1, 0, NULL, NULL, NULL, NULL)
INSERT [dbo].[TBL_HOP_DA] ([ID], [ID_HE_THONG], [NGAY_HOP], [GIO_BAT_DAU], [GIO_KET_THUC], [DIA_DIEM], [ID_KIEU_HOP], [ID_HINH_THUC_HOP], [NOI_DUNG_HOP], [GHI_CHU], [URL], [STT], [TT_XOA], [ID_NGUOI_TAO], [NGAY_TAO], [ID_NGUOI_SUA], [NGAY_SUA]) VALUES (9, 5, CAST(N'2020-08-29T00:00:00.000' AS DateTime), CAST(N'09:30:00' AS Time), CAST(N'11:30:00' AS Time), N'412 Nguyễn Văn Cừ', 13, 16, N'Mở sprint mới', N'Mở sprint mới', N'\UploadFiles\NHIEM_VU\Plan_QLCV.xlsx', 2, 0, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[TBL_HOP_DA] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_HOP_DONG] ON 

INSERT [dbo].[TBL_HOP_DONG] ([ID], [MA_HOP_DONG], [SO_HOP_DONG], [TEN], [MO_TA], [STT], [TT_XOA], [ID_NGUOI_TAO], [NGAY_TAO], [ID_NGUOI_SUA], [NGAY_SUA]) VALUES (1, N'PL163', NULL, N'PL163', N'Phụ lục HĐ', NULL, 0, NULL, NULL, NULL, NULL)
INSERT [dbo].[TBL_HOP_DONG] ([ID], [MA_HOP_DONG], [SO_HOP_DONG], [TEN], [MO_TA], [STT], [TT_XOA], [ID_NGUOI_TAO], [NGAY_TAO], [ID_NGUOI_SUA], [NGAY_SUA]) VALUES (2, N'176', NULL, N'176', N'176', NULL, 0, 1, CAST(N'2020-08-14T13:37:03.317' AS DateTime), NULL, NULL)
INSERT [dbo].[TBL_HOP_DONG] ([ID], [MA_HOP_DONG], [SO_HOP_DONG], [TEN], [MO_TA], [STT], [TT_XOA], [ID_NGUOI_TAO], [NGAY_TAO], [ID_NGUOI_SUA], [NGAY_SUA]) VALUES (3, N'159', NULL, N'159', N'159', NULL, 0, 1, CAST(N'2020-08-14T13:37:04.247' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[TBL_HOP_DONG] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_MENU] ON 

INSERT [dbo].[TBL_MENU] ([ID], [ID_LOAI_MENU], [TEN], [TEN_URL], [LINK], [isEnabled], [ID_CHA], [STT], [ID_NGON_NGU]) VALUES (1, 1, N'Trang chủ', N'', N'/HomePage.aspx', 1, 0, 0, NULL)
INSERT [dbo].[TBL_MENU] ([ID], [ID_LOAI_MENU], [TEN], [TEN_URL], [LINK], [isEnabled], [ID_CHA], [STT], [ID_NGON_NGU]) VALUES (2, 1, N'Quản trị', N'', N'#', 1, 0, 5, NULL)
INSERT [dbo].[TBL_MENU] ([ID], [ID_LOAI_MENU], [TEN], [TEN_URL], [LINK], [isEnabled], [ID_CHA], [STT], [ID_NGON_NGU]) VALUES (4, 1, N'Gán Quyền cho Menu', N'', N'/Modules/QuyenTruyCapMenus', 0, 2, 3, NULL)
SET IDENTITY_INSERT [dbo].[TBL_MENU] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_MENU_LOAI] ON 

INSERT [dbo].[TBL_MENU_LOAI] ([ID], [TIEU_DE], [MO_TA], [CODE]) VALUES (1, N'Menu quản trị', N'Menu dành cho quản trị', N'ADMIN_MENU')
INSERT [dbo].[TBL_MENU_LOAI] ([ID], [TIEU_DE], [MO_TA], [CODE]) VALUES (2, N'Left Menu - Open Report', N'Menu trái của Báo cáo Mở/Đóng', N'LEFT_MENU_OPEN_REPORT')
INSERT [dbo].[TBL_MENU_LOAI] ([ID], [TIEU_DE], [MO_TA], [CODE]) VALUES (3, N'Menu quản lý tiến độ dự án', N'Menu quản lý tiến độ dự án', N'QLDA_MENU')
SET IDENTITY_INSERT [dbo].[TBL_MENU_LOAI] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_MENU_QUYEN] ON 

INSERT [dbo].[TBL_MENU_QUYEN] ([ID], [ID_QUYEN], [ID_MENU]) VALUES (43, 4, 1)
INSERT [dbo].[TBL_MENU_QUYEN] ([ID], [ID_QUYEN], [ID_MENU]) VALUES (44, 4, 6)
INSERT [dbo].[TBL_MENU_QUYEN] ([ID], [ID_QUYEN], [ID_MENU]) VALUES (45, 4, 5)
SET IDENTITY_INSERT [dbo].[TBL_MENU_QUYEN] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_NGUOI_DUNG] ON 

INSERT [dbo].[TBL_NGUOI_DUNG] ([Id], [UserName], [FirstName], [LastName], [Email], [isAdmin], [isEnabled], [Password], [Tel], [FullName]) VALUES (1, N'admin', N'ADMIN', NULL, N'admin@gmail.com', 1, 1, N'636eafbce619c2f03be5a63b62e4486b', NULL, N'Quản Trị Viên')
INSERT [dbo].[TBL_NGUOI_DUNG] ([Id], [UserName], [FirstName], [LastName], [Email], [isAdmin], [isEnabled], [Password], [Tel], [FullName]) VALUES (3, N'anhln.aits', NULL, NULL, N'anhln.aits@vietnamairlines.com', NULL, 1, N'636eafbce619c2f03be5a63b62e4486b', N'9539  -  +84 91 532 5296', N'Le Thi Ngoc Anh')
INSERT [dbo].[TBL_NGUOI_DUNG] ([Id], [UserName], [FirstName], [LastName], [Email], [isAdmin], [isEnabled], [Password], [Tel], [FullName]) VALUES (4, N'binhntt.aits', NULL, NULL, N'binhntt.aits@vietnamairlines.com', NULL, 1, N'636eafbce619c2f03be5a63b62e4486b', N'9539  -  +84 98 569 4989', N'Ngo Thi Thanh Binh-AITS')
SET IDENTITY_INSERT [dbo].[TBL_NGUOI_DUNG] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_NGUOI_DUNG_PHONG_BAN] ON 

INSERT [dbo].[TBL_NGUOI_DUNG_PHONG_BAN] ([Id], [UserID], [DepartmentID], [isLeader], [isDeleted]) VALUES (1, 1, 1, NULL, 0)
INSERT [dbo].[TBL_NGUOI_DUNG_PHONG_BAN] ([Id], [UserID], [DepartmentID], [isLeader], [isDeleted]) VALUES (4, 3, 1, NULL, 0)
INSERT [dbo].[TBL_NGUOI_DUNG_PHONG_BAN] ([Id], [UserID], [DepartmentID], [isLeader], [isDeleted]) VALUES (5, 4, 1, NULL, 0)
SET IDENTITY_INSERT [dbo].[TBL_NGUOI_DUNG_PHONG_BAN] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_NGUOI_DUNG_QUYEN] ON 

INSERT [dbo].[TBL_NGUOI_DUNG_QUYEN] ([ID], [ID_NGUOI_DUNG], [ID_QUYEN]) VALUES (1, 1, 1)
INSERT [dbo].[TBL_NGUOI_DUNG_QUYEN] ([ID], [ID_NGUOI_DUNG], [ID_QUYEN]) VALUES (2, 1, 2)
INSERT [dbo].[TBL_NGUOI_DUNG_QUYEN] ([ID], [ID_NGUOI_DUNG], [ID_QUYEN]) VALUES (4, 1, 4)
SET IDENTITY_INSERT [dbo].[TBL_NGUOI_DUNG_QUYEN] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_NHIEM_VU] ON 

GO
SET IDENTITY_INSERT [dbo].[TBL_NHIEM_VU] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_PHONG_BAN] ON 

INSERT [dbo].[TBL_PHONG_BAN] ([Id], [DepartmentName], [isDefault], [isDeleted], [isVisible], [IdParent], [DepartmentCode]) VALUES (1, N'Phòng PTSPDVPM', NULL, 0, 1, 0, N'PTSPDVPM')
INSERT [dbo].[TBL_PHONG_BAN] ([Id], [DepartmentName], [isDefault], [isDeleted], [isVisible], [IdParent], [DepartmentCode]) VALUES (2, N'Phòng Dịch vụ', NULL, 0, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[TBL_PHONG_BAN] OFF
GO
INSERT [dbo].[TBL_QUYEN] ([ID], [NAME], [DESCRIPTION], [CODE], [ID_PARENT]) VALUES (1, N'Hệ thống', N'Hệ thống', N'', 0)
INSERT [dbo].[TBL_QUYEN] ([ID], [NAME], [DESCRIPTION], [CODE], [ID_PARENT]) VALUES (2, N'Quản trị viên', N'Quản trị viên', N'QUAN_TRI_VIEN', 1)
INSERT [dbo].[TBL_QUYEN] ([ID], [NAME], [DESCRIPTION], [CODE], [ID_PARENT]) VALUES (3, N'Phòng PTSPDVPM', N'Phòng PTSPDVPM', N'', 0)
GO
SET IDENTITY_INSERT [dbo].[TBL_RUI_RO] ON 

SET IDENTITY_INSERT [dbo].[TBL_RUI_RO] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_THEO_DOI_CV] ON 

INSERT [dbo].[TBL_THEO_DOI_CV] ([ID], [TEN_CONG_VIEC], [ID_HE_THONG], [ID_HOP_DONG], [ID_NGUOI_CHU_TRI], [ID_NGUOI_PHOI_HOP], [NGAY_BAT_DAU], [NGAY_KET_THUC], [ID_KET_QUA_CV], [GHI_CHU], [TT_XOA], [ID_NGUOI_TAO], [NGAY_TAO], [ID_NGUOI_SUA], [NGAY_SUA], [ID_MUC_DO_CV]) VALUES (3, N'Tên công việc ở đây là gì 2020', 12, 17, 15, NULL, CAST(N'2020-08-12' AS Date), CAST(N'2020-08-29' AS Date), 2, N'fsfse fsdfs', 0, 1, CAST(N'2020-08-13T11:46:18.897' AS DateTime), 1, CAST(N'2020-08-24T00:31:20.667' AS DateTime), 11)
INSERT [dbo].[TBL_THEO_DOI_CV] ([ID], [TEN_CONG_VIEC], [ID_HE_THONG], [ID_HOP_DONG], [ID_NGUOI_CHU_TRI], [ID_NGUOI_PHOI_HOP], [NGAY_BAT_DAU], [NGAY_KET_THUC], [ID_KET_QUA_CV], [GHI_CHU], [TT_XOA], [ID_NGUOI_TAO], [NGAY_TAO], [ID_NGUOI_SUA], [NGAY_SUA], [ID_MUC_DO_CV]) VALUES (4, N'Công việc thứ 2', 10, 12, 11, NULL, CAST(N'2020-08-12' AS Date), CAST(N'2020-08-18' AS Date), 2, N'Ðúng chua nh?', 0, 1, CAST(N'2020-08-15T21:30:55.030' AS DateTime), 1, CAST(N'2020-08-15T21:30:55.050' AS DateTime), 10)
INSERT [dbo].[TBL_THEO_DOI_CV] ([ID], [TEN_CONG_VIEC], [ID_HE_THONG], [ID_HOP_DONG], [ID_NGUOI_CHU_TRI], [ID_NGUOI_PHOI_HOP], [NGAY_BAT_DAU], [NGAY_KET_THUC], [ID_KET_QUA_CV], [GHI_CHU], [TT_XOA], [ID_NGUOI_TAO], [NGAY_TAO], [ID_NGUOI_SUA], [NGAY_SUA], [ID_MUC_DO_CV]) VALUES (5, N'KH yêu cầu gửi báo giá ECO cho SCC', 11, NULL, 25, NULL, NULL, CAST(N'2020-08-19' AS Date), NULL, N'KH y/c ph?i g?i ngu', 0, 1, CAST(N'2020-08-17T17:44:22.160' AS DateTime), 1, CAST(N'2020-08-17T17:44:22.183' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[TBL_THEO_DOI_CV] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_TIMESHEET] ON 

INSERT [dbo].[TBL_TIMESHEET] ([ID], [KHO_KHAN_KIEN_NGHI], [SANG_KIEN], [TONG_THOI_GIAN], [NGAY_BAO_CAO], [STT], [TT_XOA], [ID_NGUOI_TAO], [NGAY_TAO], [ID_NGUOI_SUA], [NGAY_SUA], [GHI_CHU]) VALUES (1, N'FSDFS', N'fsff fs fsa ', 8, CAST(N'2020-07-27T00:00:00.000' AS DateTime), NULL, 0, 1, CAST(N'2020-08-02T14:31:30.437' AS DateTime), 1, CAST(N'2020-08-15T21:35:32.613' AS DateTime), N'sadskfdf')
INSERT [dbo].[TBL_TIMESHEET] ([ID], [KHO_KHAN_KIEN_NGHI], [SANG_KIEN], [TONG_THOI_GIAN], [NGAY_BAO_CAO], [STT], [TT_XOA], [ID_NGUOI_TAO], [NGAY_TAO], [ID_NGUOI_SUA], [NGAY_SUA], [GHI_CHU]) VALUES (2, N'', N'', 9, CAST(N'2020-08-02T00:00:00.000' AS DateTime), NULL, 0, 1, CAST(N'2020-08-02T14:31:55.367' AS DateTime), 1, CAST(N'2020-09-10T16:44:39.477' AS DateTime), NULL)
INSERT [dbo].[TBL_TIMESHEET] ([ID], [KHO_KHAN_KIEN_NGHI], [SANG_KIEN], [TONG_THOI_GIAN], [NGAY_BAO_CAO], [STT], [TT_XOA], [ID_NGUOI_TAO], [NGAY_TAO], [ID_NGUOI_SUA], [NGAY_SUA], [GHI_CHU]) VALUES (3, N'dsfsdf', N'Fsfsfsf fsfs  fsfs', 6, CAST(N'2020-09-07T00:00:00.000' AS DateTime), NULL, 1, 1, CAST(N'2020-08-02T14:33:02.933' AS DateTime), 1, CAST(N'2020-09-07T09:20:14.367' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[TBL_TIMESHEET] OFF
GO
SET IDENTITY_INSERT [dbo].[UNG_VIEN] ON 

INSERT [dbo].[UNG_VIEN] ([HO_TEN], [NGAY_SINH], [SO_DIEN_THOAI], [EMAIL], [ID_CHU_DE_BAI_THI], [ID_BAI_THI], [NGAY_TAO], [ID_NGUOI_TAO], [NGAY_SUA], [ID_NGUOI_SUA], [ID], [TT_XOA], [MA_UNG_VIEN], [UserName], [Password], [isEnabled]) VALUES (N'Nguyễn Hải Nam', CAST(N'1999-09-29' AS Date), N'0976555076', N'namnguyen8616@gmail.com', 1, NULL, CAST(N'2021-05-02T15:55:29.090' AS DateTime), 1, CAST(N'2021-05-17T13:12:11.833' AS DateTime), 1, 1, 0, N'PM0000621', N'PM0000621', N'636eafbce619c2f03be5a63b62e4486b', 1)
INSERT [dbo].[UNG_VIEN] ([HO_TEN], [NGAY_SINH], [SO_DIEN_THOAI], [EMAIL], [ID_CHU_DE_BAI_THI], [ID_BAI_THI], [NGAY_TAO], [ID_NGUOI_TAO], [NGAY_SUA], [ID_NGUOI_SUA], [ID], [TT_XOA], [MA_UNG_VIEN], [UserName], [Password], [isEnabled]) VALUES (N'Nguyễn Văn An', CAST(N'2021-05-03' AS Date), N'0123456789', N'an@a.com', 1, NULL, CAST(N'2021-05-03T13:55:04.517' AS DateTime), 1, CAST(N'2021-05-04T14:34:25.467' AS DateTime), 1, 2, 1, N'PM0000321', N'PM0000321', N'636eafbce619c2f03be5a63b62e4486b', 1)
INSERT [dbo].[UNG_VIEN] ([HO_TEN], [NGAY_SINH], [SO_DIEN_THOAI], [EMAIL], [ID_CHU_DE_BAI_THI], [ID_BAI_THI], [NGAY_TAO], [ID_NGUOI_TAO], [NGAY_SUA], [ID_NGUOI_SUA], [ID], [TT_XOA], [MA_UNG_VIEN], [UserName], [Password], [isEnabled]) VALUES (N'Nguyễn Văn A', CAST(N'2021-05-04' AS Date), N'0976555076', N'namnguyen8616@gmail.com', 4, NULL, CAST(N'2021-05-04T09:41:15.087' AS DateTime), 1, CAST(N'2021-05-04T09:42:12.790' AS DateTime), 1, 3, 1, N'KD        0000221', N'KD        0000221', N'636eafbce619c2f03be5a63b62e4486b', 1)
SET IDENTITY_INSERT [dbo].[UNG_VIEN] OFF
GO
SET IDENTITY_INSERT [dbo].[UNG_VIEN_TRA_LOI] ON 

INSERT [dbo].[UNG_VIEN_TRA_LOI] ([ID], [ID_UNG_VIEN], [ID_BAI_THI_UNG_VIEN], [ID_BAI_THI], [ID_CAU_HOI], [ID_DAP_AN], [NOI_DUNG_TRA_LOI], [TT_KET_QUA]) VALUES (1, 1, NULL, 105, 2, N'5,8', NULL, 0)
INSERT [dbo].[UNG_VIEN_TRA_LOI] ([ID], [ID_UNG_VIEN], [ID_BAI_THI_UNG_VIEN], [ID_BAI_THI], [ID_CAU_HOI], [ID_DAP_AN], [NOI_DUNG_TRA_LOI], [TT_KET_QUA]) VALUES (2, 1, NULL, 105, 4, N'13,14,15', NULL, 0)
INSERT [dbo].[UNG_VIEN_TRA_LOI] ([ID], [ID_UNG_VIEN], [ID_BAI_THI_UNG_VIEN], [ID_BAI_THI], [ID_CAU_HOI], [ID_DAP_AN], [NOI_DUNG_TRA_LOI], [TT_KET_QUA]) VALUES (3, 1, NULL, 105, 5, N'19,20', NULL, 0)
SET IDENTITY_INSERT [dbo].[UNG_VIEN_TRA_LOI] OFF
GO
ALTER TABLE [dbo].[TBL_MENU] ADD  DEFAULT ('0') FOR [isEnabled]
GO
ALTER TABLE [dbo].[TBL_MENU] ADD  DEFAULT ('0') FOR [ID_CHA]
GO
ALTER TABLE [dbo].[TBL_MENU] ADD  DEFAULT ('0') FOR [STT]
GO
ALTER TABLE [dbo].[TBL_NHIEM_VU] ADD  DEFAULT ('0') FOR [ID_CHA]
GO
ALTER TABLE [dbo].[BAI_THI]  WITH CHECK ADD  CONSTRAINT [FK_BAI_THI_CHU_DE_BAI_THI] FOREIGN KEY([ID_CHU_DE_BAI_THI])
REFERENCES [dbo].[CHU_DE_BAI_THI] ([ID])
GO
ALTER TABLE [dbo].[BAI_THI] CHECK CONSTRAINT [FK_BAI_THI_CHU_DE_BAI_THI]
GO
ALTER TABLE [dbo].[BAI_THI]  WITH CHECK ADD  CONSTRAINT [FK_BAI_THI_MUC_DO_BAI_THI] FOREIGN KEY([ID_MUC_DO_BAI_THI])
REFERENCES [dbo].[MUC_DO_BAI_THI] ([ID])
GO
ALTER TABLE [dbo].[BAI_THI] CHECK CONSTRAINT [FK_BAI_THI_MUC_DO_BAI_THI]
GO
ALTER TABLE [dbo].[BAI_THI_CAU_HOI]  WITH CHECK ADD  CONSTRAINT [FK_BAI_THI_CAU_HOI_BAI_THI] FOREIGN KEY([ID_BAI_THI])
REFERENCES [dbo].[BAI_THI] ([ID])
GO
ALTER TABLE [dbo].[BAI_THI_CAU_HOI] CHECK CONSTRAINT [FK_BAI_THI_CAU_HOI_BAI_THI]
GO
ALTER TABLE [dbo].[BAI_THI_CAU_HOI]  WITH CHECK ADD  CONSTRAINT [FK_BAI_THI_CAU_HOI_CAU_HOI] FOREIGN KEY([ID_CAU_HOI])
REFERENCES [dbo].[CAU_HOI] ([ID])
GO
ALTER TABLE [dbo].[BAI_THI_CAU_HOI] CHECK CONSTRAINT [FK_BAI_THI_CAU_HOI_CAU_HOI]
GO
ALTER TABLE [dbo].[BAI_THI_UNG_VIEN]  WITH CHECK ADD  CONSTRAINT [FK_BAI_THI_UNG_VIEN_BAI_THI] FOREIGN KEY([ID_BAI_THI])
REFERENCES [dbo].[BAI_THI] ([ID])
GO
ALTER TABLE [dbo].[BAI_THI_UNG_VIEN] CHECK CONSTRAINT [FK_BAI_THI_UNG_VIEN_BAI_THI]
GO
ALTER TABLE [dbo].[BAI_THI_UNG_VIEN]  WITH CHECK ADD  CONSTRAINT [FK_BAI_THI_UNG_VIEN_NGUOI_DANH_GIA] FOREIGN KEY([ID_NGUOI_DANH_GIA])
REFERENCES [dbo].[NGUOI_DANH_GIA] ([ID])
GO
ALTER TABLE [dbo].[BAI_THI_UNG_VIEN] CHECK CONSTRAINT [FK_BAI_THI_UNG_VIEN_NGUOI_DANH_GIA]
GO
ALTER TABLE [dbo].[BAI_THI_UNG_VIEN]  WITH CHECK ADD  CONSTRAINT [FK_BAI_THI_UNG_VIEN_UNG_VIEN] FOREIGN KEY([ID_UNG_VIEN])
REFERENCES [dbo].[UNG_VIEN] ([ID])
GO
ALTER TABLE [dbo].[BAI_THI_UNG_VIEN] CHECK CONSTRAINT [FK_BAI_THI_UNG_VIEN_UNG_VIEN]
GO
ALTER TABLE [dbo].[CAU_HINH_BAI_THI]  WITH CHECK ADD  CONSTRAINT [FK_CAU_HINH_BAI_THI_BAI_THI] FOREIGN KEY([ID_BAI_THI])
REFERENCES [dbo].[BAI_THI] ([ID])
GO
ALTER TABLE [dbo].[CAU_HINH_BAI_THI] CHECK CONSTRAINT [FK_CAU_HINH_BAI_THI_BAI_THI]
GO
ALTER TABLE [dbo].[CAU_HINH_BAI_THI]  WITH CHECK ADD  CONSTRAINT [FK_CAU_HINH_BAI_THI_LOAI_CAU_HOI] FOREIGN KEY([ID_LOAI_CAU_HOI])
REFERENCES [dbo].[LOAI_CAU_HOI] ([ID])
GO
ALTER TABLE [dbo].[CAU_HINH_BAI_THI] CHECK CONSTRAINT [FK_CAU_HINH_BAI_THI_LOAI_CAU_HOI]
GO
ALTER TABLE [dbo].[CAU_HOI]  WITH CHECK ADD  CONSTRAINT [FK_CAU_HOI_CHU_DE_BAI_THI] FOREIGN KEY([ID_CHU_DE_BAI_THI])
REFERENCES [dbo].[CHU_DE_BAI_THI] ([ID])
GO
ALTER TABLE [dbo].[CAU_HOI] CHECK CONSTRAINT [FK_CAU_HOI_CHU_DE_BAI_THI]
GO
ALTER TABLE [dbo].[CAU_HOI]  WITH CHECK ADD  CONSTRAINT [FK_CAU_HOI_LOAI_CAU_HOI] FOREIGN KEY([ID_LOAI_CAU_HOI])
REFERENCES [dbo].[LOAI_CAU_HOI] ([ID])
GO
ALTER TABLE [dbo].[CAU_HOI] CHECK CONSTRAINT [FK_CAU_HOI_LOAI_CAU_HOI]
GO
ALTER TABLE [dbo].[CAU_HOI_MUC_DO]  WITH CHECK ADD  CONSTRAINT [FK_CAU_HOI_MUC_DO_CAU_HOI1] FOREIGN KEY([ID_CAU_HOI])
REFERENCES [dbo].[CAU_HOI] ([ID])
GO
ALTER TABLE [dbo].[CAU_HOI_MUC_DO] CHECK CONSTRAINT [FK_CAU_HOI_MUC_DO_CAU_HOI1]
GO
ALTER TABLE [dbo].[CAU_HOI_MUC_DO]  WITH CHECK ADD  CONSTRAINT [FK_CAU_HOI_MUC_DO_MUC_DO_CAU_HOI2] FOREIGN KEY([ID_MUC_DO_CAU_HOI])
REFERENCES [dbo].[MUC_DO_CAU_HOI] ([ID])
GO
ALTER TABLE [dbo].[CAU_HOI_MUC_DO] CHECK CONSTRAINT [FK_CAU_HOI_MUC_DO_MUC_DO_CAU_HOI2]
GO
ALTER TABLE [dbo].[DAP_AN]  WITH CHECK ADD  CONSTRAINT [FK_DAP_AN_CAU_HOI] FOREIGN KEY([ID_CAU_HOI])
REFERENCES [dbo].[CAU_HOI] ([ID])
GO
ALTER TABLE [dbo].[DAP_AN] CHECK CONSTRAINT [FK_DAP_AN_CAU_HOI]
GO
ALTER TABLE [dbo].[NGUOI_DANH_GIA]  WITH CHECK ADD  CONSTRAINT [FK_NGUOI_DANH_GIA_TBL_PHONG_BAN] FOREIGN KEY([Id_PHONG_BAN])
REFERENCES [dbo].[TBL_PHONG_BAN] ([Id])
GO
ALTER TABLE [dbo].[NGUOI_DANH_GIA] CHECK CONSTRAINT [FK_NGUOI_DANH_GIA_TBL_PHONG_BAN]
GO
ALTER TABLE [dbo].[TBL_BAO_CAO_CV]  WITH CHECK ADD  CONSTRAINT [FK_BAO_CAO_CV_TIMESHEET] FOREIGN KEY([ID_TIMESHEET])
REFERENCES [dbo].[TBL_TIMESHEET] ([ID])
GO
ALTER TABLE [dbo].[TBL_BAO_CAO_CV] CHECK CONSTRAINT [FK_BAO_CAO_CV_TIMESHEET]
GO
ALTER TABLE [dbo].[TBL_HE_THONG]  WITH CHECK ADD  CONSTRAINT [FK_TBL_HE_THONG_HOP_DONG] FOREIGN KEY([ID_HOP_DONG])
REFERENCES [dbo].[TBL_HOP_DONG] ([ID])
GO
ALTER TABLE [dbo].[TBL_HE_THONG] CHECK CONSTRAINT [FK_TBL_HE_THONG_HOP_DONG]
GO
ALTER TABLE [dbo].[TBL_HOP_DA]  WITH CHECK ADD  CONSTRAINT [FK_HOP_HE_THONG_DA] FOREIGN KEY([ID_HE_THONG])
REFERENCES [dbo].[TBL_HE_THONG] ([ID])
GO
ALTER TABLE [dbo].[TBL_HOP_DA] CHECK CONSTRAINT [FK_HOP_HE_THONG_DA]
GO
ALTER TABLE [dbo].[TBL_MENU]  WITH CHECK ADD  CONSTRAINT [FK_Menus_Menu_Loai] FOREIGN KEY([ID_LOAI_MENU])
REFERENCES [dbo].[TBL_MENU_LOAI] ([ID])
GO
ALTER TABLE [dbo].[TBL_MENU] CHECK CONSTRAINT [FK_Menus_Menu_Loai]
GO
ALTER TABLE [dbo].[TBL_MENU_QUYEN]  WITH CHECK ADD  CONSTRAINT [FK_Menu_Quyen_Menu] FOREIGN KEY([ID_MENU])
REFERENCES [dbo].[TBL_MENU] ([ID])
GO
ALTER TABLE [dbo].[TBL_MENU_QUYEN] CHECK CONSTRAINT [FK_Menu_Quyen_Menu]
GO
ALTER TABLE [dbo].[TBL_MENU_QUYEN]  WITH CHECK ADD  CONSTRAINT [FK_Menu_Quyen_Quyen] FOREIGN KEY([ID_QUYEN])
REFERENCES [dbo].[TBL_QUYEN] ([ID])
GO
ALTER TABLE [dbo].[TBL_MENU_QUYEN] CHECK CONSTRAINT [FK_Menu_Quyen_Quyen]
GO
ALTER TABLE [dbo].[TBL_NGUOI_DUNG_QUYEN]  WITH CHECK ADD  CONSTRAINT [FK_NguoiDung_Quyen_NguoiDung] FOREIGN KEY([ID_NGUOI_DUNG])
REFERENCES [dbo].[TBL_NGUOI_DUNG] ([Id])
GO
ALTER TABLE [dbo].[TBL_NGUOI_DUNG_QUYEN] CHECK CONSTRAINT [FK_NguoiDung_Quyen_NguoiDung]
GO
ALTER TABLE [dbo].[TBL_NHIEM_VU]  WITH CHECK ADD  CONSTRAINT [FK_NHIEM_VU_DU_AN] FOREIGN KEY([ID_HE_THONG_DA])
REFERENCES [dbo].[TBL_HE_THONG] ([ID])
GO
ALTER TABLE [dbo].[TBL_NHIEM_VU] CHECK CONSTRAINT [FK_NHIEM_VU_DU_AN]
GO
ALTER TABLE [dbo].[TBL_RUI_RO]  WITH CHECK ADD  CONSTRAINT [FK_RUI_RO_HE_THONG_DA] FOREIGN KEY([ID_HE_THONG])
REFERENCES [dbo].[TBL_HE_THONG] ([ID])
GO
ALTER TABLE [dbo].[TBL_RUI_RO] CHECK CONSTRAINT [FK_RUI_RO_HE_THONG_DA]
GO
ALTER TABLE [dbo].[UNG_VIEN_TRA_LOI]  WITH CHECK ADD  CONSTRAINT [FK_UNG_VIEN_TRA_LOI_BAI_THI_UNG_VIEN] FOREIGN KEY([ID_BAI_THI_UNG_VIEN])
REFERENCES [dbo].[BAI_THI_UNG_VIEN] ([ID])
GO
ALTER TABLE [dbo].[UNG_VIEN_TRA_LOI] CHECK CONSTRAINT [FK_UNG_VIEN_TRA_LOI_BAI_THI_UNG_VIEN]
GO
